/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~CSS Quick Reset~~~~~~~~~~~~~~~~~~~~~~~~~~ */
img {
    display: block; 
    max-width: 100%; /* keeps image within container*/
    height: auto; /*maintain image proportion and no stretch */
}
nav ul {
    list-style-type: none; /*no bullets */
    margin: 0;
    padding: 0
}
a {
    text-decoration: none; /*remove underline for all clickable link*/
}
h1, h2, h3, h4, p { /*removing the default padding*/
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Patua One', serif;
    font-family: 'Roboto', sans-serif;
}
p, h3 { /*change default margin*/
    margin-bottom: 1em; 
}
h1, h2 { /*change default margin*/
    margin-bottom: .5em; 
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CSS Start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Avoid this reset */
/* this reset can be used in a pinch, but should not be used on production websites because it will remove margin and padding from all elements and might mess up some elements, such as form elements. Can be ok to use for a small example file, but not on an actual website. */

/* {
    margin: 0;
    padding: 0;
}*/

/* ~~~~~~~~~~~~~~~~~~~~~Media Queries~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 767px) {
                /*Rules for small screens here*/
                /* Rules in here will apply if screens smaller than 768px(phone) */
    body{
    min-width: 350px;
                /* fix all size dimentions when the screen is smller than 350 px */
    background-image: url(#.jpg);
    background-size:cover;
    background-attachment: fixed;
}
    main {
    background-color: #00ccff;
    }
}

@media screen and (min-width: 768px) and (max-width: 1022px) {
				/* Rules for medium-sized screens here */
				/* Rules in here will apply if screens is between 768px and 1024px (tablet) */
	main {
	background-color: #00ff2a;
	}
}

@media screen and (min-width: 1023px) {
				/* Rules in here will apply if screens is than 1024px (desktops) */
				/*should go at the bottom of your CSS file*/
	main {
	background-color: #5200e1;
	}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */